.profile_pic {
    width: 250px;
    height: 250px;
    display: block;
    border: 1px solid #777;
}

.countzero {
  background: url("../image/1.jpg");
  background-position: -33px -10px;
}

.alex {
    background: url("../image/44761313SRC.jpg");
    background-position: -33px -10px;
}

.exan {
    background: url("../image/exan.jpg");
    background-position: -33px -10px;
}

.virtustilus {
    background: url("../image/virtustilus_320.jpg");
    background-position: -11px -92px;
}

.natali {
    background: url("../image/photo.jpg");
    background-position: -33px -10px;
}

.gueessa {
    background: url("../image/gueessa.jpg");
    background-position: -160px -80px;
}

.maksim {
    background: url("../image/DSC02350.jpg");
    background-position: -23px -45px;
}

.xanrias {
    background: url("../image/xanrias.jpg");
}
.vadim {
    background: url("../image/vadim.jpg");
}

h1 {
    font-weight: 100;
}


h2 {
    font-weight: 100;
}

.page-gap {
    margin-top: 50px;
}

.private-projects li{
    margin-bottom: 10px;
}
