.profile_pic {
    width: 250px;
    height: 250px;
    display: block;
    border: 1px solid #777;
}

.alex {
    background: url("../image/44761313SRC.jpg");
    background-position: -33px -10px;
}

.natali {
    background: url("../image/photo.jpg");
    background-position: -33px -10px;
}

h1 {
    font-weight: 100;
}


h2 {
    font-weight: 100;
}

.page-gap {
    margin-top: 50px;
}